header{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}

 header > h1{
    display: inline-block;
    margin-left:  3vw;
}

header > div{
    display: inline-block;
    margin:  3vw;
}

header > div a{
    display: inline-block;   
}

header > button{
    margin: 3vw;
    height: 30px;
}
